.wrapper__select{
  width:100%;
  min-height: 720px;
  height:100%;
  background: #1b232b url("../img/bg.png") no-repeat center top;
  background-size: auto 720px;
  margin:$mCenter;
  font-family: 'Roboto Light', sans-serif;
}
